apiVersion: v1
kind: ConfigMap
metadata:
  name: external-builder-scripts
  namespace: fabric
data:
  detect: |
    #!/bin/sh
    exit 0
  build: |
    #!/bin/sh
    OUTPUT=\$2
    # Dosyayı paketten çıkarmak yerine, direkt buraya yazıyoruz. KESİN ÇÖZÜM.
    echo '{"address":"chaincode-service.fabric.svc.cluster.local:9999","dial_timeout":"10s","tls_required":false}' > "\$OUTPUT/connection.json"
    exit 0
  release: |
    #!/bin/sh
    BLD="\$1"
    REL="\$2"
    cp "\$BLD/connection.json" "\$REL/connection.json"
    exit 0
  run: |
    #!/bin/sh
    tail -f /dev/null
    exit 0
