apiVersion: hlf.kungfusoftware.es/v1alpha1
kind: FabricPeer
metadata:
  name: peer0-student
  namespace: fabric-bevel
spec:
  image: hyperledger/fabric-peer
  tag: 2.5.0
  dockerSocketPath: ""
  mspID: StudentOrgMSP
  hosts: []
  operationHosts: []
  operationIPs: []
  external_chaincode_builder: true
  externalEndpoint: ""
  istio:
    port: 443
  service:
    type: ClusterIP
  stateDb: couchdb
  couchdb:
    user: couchdb
    password: couchdb
  storage:
    couchdb:
      accessMode: ReadWriteOnce
      storageClass: local-path
      size: 5Gi
    peer:
      accessMode: ReadWriteOnce
      size: 5Gi
      storageClass: local-path
    chaincode:
      accessMode: ReadWriteOnce
      size: 2Gi
      storageClass: local-path
  resources:
    couchdb:
      limits:
        cpu: '1'
        memory: 1Gi
      requests:
        cpu: 10m
        memory: 128Mi
    peer:
      limits:
        cpu: '1'
        memory: 1Gi
      requests:
        cpu: 10m
        memory: 128Mi
    chaincode:
      limits:
        cpu: '1'
        memory: 512Mi
      requests:
        cpu: 10m
        memory: 64Mi
  gossip:
    externalEndpoint: ""
    endpoint: ""
    bootstrap: ""
    orgLeader: false
    useLeaderElection: true
  discovery:
    period: 60s
    touchPeriod: 60s
  logging:
    level: info
    peer: info
    cauthdsl: warning
    gossip: info
    grpc: error
    ledger: info
    msp: info
    policies: warning
  secret:
    enrollment:
      component:
        cahost: ca-student.fabric-bevel.svc.cluster.local
        caname: ca
        caport: 7054
        catls:
          cacert: ""
        enrollid: admin
        enrollsecret: adminpw
      tls:
        cahost: ca-student.fabric-bevel.svc.cluster.local
        caname: tlsca
        caport: 7054
        catls:
          cacert: ""
        csr:
          cn: peer0-student
          hosts:
            - peer0-student
            - peer0-student.fabric-bevel.svc.cluster.local
        enrollid: admin
        enrollsecret: adminpw
