apiVersion: v1
kind: ConfigMap
metadata:
  name: configmap-ca-orderer-org
  namespace: fabric
data:
  fabric-ca-server-config.yaml: |
    port: 7054
    ca:
      name: ca-orderer-org
      csr:
        cn: ca-orderer-org
        hosts:
          - localhost
          - ca-orderer-org
          - svc-ca-orderer-org # Kubernetes Servis adımız
      signing:
        default:
          expiry: 8760h
        profiles:
          ca:
            expiry: 43800h
            usages:
              - digital signature
              - key encipherment
              - cert sign
              - crl sign

    registry:
      maxenrollments: -1
      identities:
        # Bu, CA'nın "root" admin kullanıcısıdır. Diğer kullanıcıları bu admin ile register edeceğiz.
        - name: admin
          pass: adminpw
          type: client
          affiliation: ""
          attrs:
            hf.Registrar.Roles: "*"
            hf.Registrar.DelegateRoles: "*"
            hf.Registrar.Attributes: "*"
            hf.GenCRL: "true"
            hf.Revoker: "true"
            hf.AffiliationMgr: "true"
            hf.IntermediateCA: "true"

    # PVC üzerine yazılacak SQLite veritabanı
    db:
      type: sqlite3
      datasource: /etc/hyperledger/fabric-ca-server/fabric-ca-server.db
      tls:
        enabled: false
